<style>
  #fv-loading-icon {
    visibility: visible;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, sans-serif;
    font-size: 190vw;
    line-height: 1;
    word-wrap: break-word;
    top: 0;
    left: 0;
    margin: 0;
    text-decoration: none;
    filter: none;
    transition: all 0s;
    transform: none;
    width: 99vw;
    height: 99vh;
    max-width: 99vw;
    max-height: 99vh;
    pointer-events: none;
    z-index: -99;
    overflow: hidden;
    opacity: 0.0001;
  }
</style>
<div id="fv-loading-icon">🔄</div>
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0693/0287/8457/files/preload_asset.js" as="script"> 
{{ "https://cdn.shopify.com/s/files/1/0693/0287/8457/files/preload_asset.js" | script_tag}}  
<style>.async-hide { opacity: 0 !important} </style> <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c; })(window,document.documentElement,'async-hide','dataLayer',100, {'GTM-XXXXXX':true});</script> 
<style>.async-hide { opacity: 0 !important}</style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',500,
{'GTM-XXXXXX':true});</script>
{{ "//cdn.shopify.com/s/files/1/0674/4434/2899/files/loox_widget_1.js" | script_tag}}